<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MSSQLConnectionString" connectionString="data source=mohammad-PC;initial catalog=PayaDB;persist security info=True;user id=sa;password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references>
      <reference assemblyname="PayaDB" configrequired="True" />
    </references>
    <connections>
      <connection id="MSSQLConnectionString">
        <connectionString>Data Source=MT-PC;Initial Catalog=PayaDB;Persist Security Info=True;User ID=sa;Password=123</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping">
        <namespace name="PayaBL">
          <!--<class name="TUserRole">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="t_UserRole" />
            <field name="userRoleID" null-value="exception">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="UserRoleID" />
              </extension>
            </field>
            <field name="roleID" null-value="exception">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="RoleID" />
              </extension>
            </field>
            <field name="userID" null-value="exception">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="UserID" />
              </extension>
            </field>
            <extension key="db-key-generator" value="AUTOINC" />
            <extension key="db-optimistic-locking" value="changed" />
            <extension key="db-index" value="IX_t_UserRole">
              <extension key="field-name" value="userID" />
              <extension key="field-name" value="roleID" />
              <extension key="db-unique" value="true" />
            </extension>
          </class>-->
        </namespace>
      </mapping>
    </mappings>
  </openaccess>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>