<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false" />
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection,&#xD;&#xA;UrlRewritingNet.UrlRewriter" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="MSSQLConnectionString" providerName="System.Data.SqlClient" connectionString="server=MT-PC;database=PayaDB;uid=sa;pwd=123" />
    <add name="LogConnectionString" providerName="System.Data.SqlClient" connectionString="server=MT-PC;database=PayaDB;uid=sa;pwd=123" />
    <add name="MonitoringConnectionString" providerName="System.Data.SqlClient" connectionString="server=MT-PC;database=PayaDB;uid=sa;pwd=123" />
  </connectionStrings>
  <appSettings>
    <add key="EmailAddress" value="MTrezaizadi@gmail.com" />
    <add key="PortalPath" value="http://localhost/paya" />
    <add key="SingleUserBase" value="false" />
    <add key="DefaultPortal" value="PayaPortal" />
    <add key="LogErrors" value="true" />
    <add key="WhiteSpaceFilter" value="false" />
    <add key="LogEmailAddress" value="" />
    <add key="CuteEditorDefaultFilesPath" value="~/Scripts/CuteEditor" />
    <add key="UserMustChangePasswordOnFirstLogin" value="false" />
    <add key="Telerik.WebControls.RadControlsDir" value="~/RadControls/Skins/" />
  </appSettings>
  <system.net>
    <mailSettings>
      
      <smtp from="ferstnight@yahoo.com">
        <network defaultCredentials="false" host="smtp.mail.yahoo.co.in"
                 password="@" port="587" userName="ferstnight@yahoo.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <!--<add name="PortalDBCache" connectionStringName="MSSQLConnectionString" pollTime="10000"/>
          -->
          <add name="PayaDB" connectionStringName="MSSQLConnectionString" pollTime="10000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="URLRewriter" type="PayaBL.Common.UrlRewriteModule" />
      <!--<add name="BlacklistHttpModule" type="InfinityBusinessLogic.Common.BlacklistHttpModule"/>-->
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!--<add name="TabIdRule0" virtualUrl="^~/Default.aja" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true" />-->
      <add name="TabIdRule" virtualUrl="^~/Default-(.*).aja" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?TabId=$1" ignoreCase="true" />
      <add name="TabIdRule2" virtualUrl="^~/Default-(.*).aja?(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?TabId=$1&amp;$2" ignoreCase="true" />
      <add name="SubPortalRule" virtualUrl="^~/(.*)/Default.spx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?PortalAlias=$1" ignoreCase="true" />
      <add name="SubPortalTabIdRule" virtualUrl="^~/(.*)/Default-(.*).aja" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?PortalAlias=$1&amp;TabId=$2" ignoreCase="true" />
      <add name="SubPortalTabIdRule2" virtualUrl="^~/(.*)/Default-(.*).aja?(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?PortalAlias=$1&amp;TabId=$2&amp;$3" ignoreCase="true" />
      <add name="PageManagmentRule" virtualUrl="^~/Module/(.*)/PageManagment-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/PageManagment.aspx?ModuleId=$2&amp;Page=$1" ignoreCase="true" />
      <add name="PageManagmentRule2" virtualUrl="^~/Module/(.*)/PageManagment-(.*).aspx?(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/PageManagment.aspx?ModuleId=$2&amp;Page=$1&amp;$3" ignoreCase="true" />
      <add name="SubPortalPageManagmentRule" virtualUrl="^~/(.*)/Module/(.*)/PageManagment-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/PageManagment.aspx?PortalAlias=$1&amp;ModuleId=$3&amp;Page=$2" ignoreCase="true" />
      <add name="SubPortalPageManagmentRule2" virtualUrl="^~/(.*)/Module/(.*)/PageManagment-(.*).aspx?(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/PageManagment.aspx?PortalAlias=$1&amp;ModuleId=$3&amp;Page=$2&amp;$4" ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references>
        <reference assemblyname="Paya.Modules.Clip" configrequired="True" />
    </references>
    <connections>
      <connection id="ContentConnectionString">
        <connectionString>Data Source=MT-PC;Initial Catalog=PayaDB;Persist Security Info=True;User ID=sa;Password=123</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <references>
          <reference assemblyname="Paya.Modules.ContentDB" configrequired="True" />
        </references>
      </connection>

      <connection id="newsConnectionString">
        <connectionString>Data Source=MT-PC;Initial Catalog=PayaDB;Persist Security Info=True;User ID=sa;Password=123</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <references>
          <reference assemblyname="Paya.Modules.newsDB" configrequired="True" />
        </references>
      </connection>

      <connection id="DatabaseConnection">
        <connectionString>Data Source=MT-PC;Initial Catalog=PayaDB;Persist Security Info=True;User ID=sa;Password=123</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <references>
          <reference assemblyname="PayaDB" configrequired="True" />
        </references>
      </connection>

      <connection id="GalleryConnectionString">
        <connectionString>Data Source=MT-PC;Initial Catalog=PayaDB;Persist Security Info=True;User ID=sa;Password=123</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <references>
          <reference assemblyname="Paya.Modules.GalleryDB" configrequired="True" />
        </references>
      </connection>

    <!--  <connection id="DatabaseConnection1">
        <connectionString>Data Source=MT-PC;Initial Catalog=PayaDB;Persist Security Info=True;User ID=sa;Password=123</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <references>
          <reference assemblyname="PayaDB" configrequired="True" />
        </references>
      </connection>-->
      <connection id="DatabaseConnection">
        <databasename>PayaDB</databasename>
        <servername>MT-PC</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <references>
          <reference assemblyname="PayaDB" configrequired="True" />
        </references>
      </connection>



    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping" />
    </mappings>
  </openaccess>
</configuration>